@font-face {
  font-family: "NanumSquareRound";
  src: url("./fonts/NanumSquareRoundR.ttf") format("opentype");
}

@font-face {
  font-family: BMJUA;
  src: url("./fonts/BMJUA.otf") format("opentype");
}

.ql-font .ql-picker-options span[data-value="NanumSquareRound"]::before {
  font-family: "NanumSquareRound";
}

.ql-font .ql-picker-options span[data-value="BMJUA"]::before {
  font-family: "BMJUA";
}

.ql-snow
  .ql-picker.ql-font
  .ql-picker-label[data-value="NanumSquareRound"]::before,
.ql-snow
  .ql-picker.ql-font
  .ql-picker-item[data-value="NanumSquareRound"]::before {
  content: "NanumSquareRound";
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="BMJUA"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="BMJUA"]::before {
  content: "BMJUA";
}

.ql-snow
  .ql-picker.ql-font
  .ql-picker-item[data-value="NanumSquareRound"]::before {
  font-family: NanumSquareRound;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="BMJUA"]::before {
  font-family: BMJUA;
}

.ql-editor .ql-font-BMJUA {
  font-family: BMJUA;
}
